footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 960px;
  margin: auto;
}

footer .footer li {
  display: inline;
  padding-right: 22px;
  font-size: 14px;
}

footer .footer a {
  text-decoration: none;
  color: #0d0d0d;
  transition: all .4s ease-in-out;
  font-weight: 600;
}

footer .footer a:hover {
  color: #a62424;
}

footer .footer p {
  margin: 0;
}

div.sub-footer {
  background-color: #f2f2f2;
}

div.sub-footer > div {
  margin: auto;
  max-width: 960px;
  display: flex;
}

div.sub-footer p {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 10px;
  line-height: 25.6px;
  font-weight: 400;
}

div.sub-footer .footer-info {
  width: 50%;
  justify-content: left;
  display: flex;
  align-items: center;
}

div.sub-footer .social-icons {
  width: 50%;
  justify-content: right;
  display: flex;
  font-family: ElegantIcons, serif;
  font-weight: 400;
  font-size: 24px;
}

div.sub-footer .social-icons li {
  display: inline;
  margin-left: 20px;
}

div.sub-footer .ic-facebook a::before {
  content: "\e093";
  line-height: 1;
  color: var(--text-color);
}

div.sub-footer a > span  {
  display: none;
}

div.sub-footer .ic-twitter a::before {
  content: "\e094";
  line-height: 1;
  color: var(--text-color);
}

div.sub-footer .ic-instagram a::before {
  content: "\e09a";
  line-height: 1;
  color: var(--text-color);
}
